* {
    scroll-behavior: smooth;
}

body {
    background: $background;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.main {
        height: 100vh;

        @include MQ($S) {
            height: 95vh;
        }
    }

    &.info {
        padding-top: 30px;
    }

    &.convidados {
        width: 100%;
        flex-direction: row;
    }
}

.main-title {
    @include MQ($S) {
        margin-top: -150px;
    }
}

.counter {
    margin-top: 40px;
}

.clock {
    color: $green;
    font: 2.2rem 'Trebuchet MS';
}

.subtitle {
    color: $white;
    font: 2.5rem/20px 'Trebuchet MS';
    margin: 40px auto;

    &:first-child {
        margin-right: 270px;

        @include MQ($S) {
            margin-right: 130px;
        }
    }

    &:last-child {
        margin-left: 350px;

        @include MQ($S) {
            margin-left: 220px;
        }
    }
}

.title {
    color: $green;
    font: 6rem/10px 'Trebuchet MS';
    margin: 35px auto;

    @include MQ($S) {
        font: 4rem/10px 'Trebuchet MS';
        margin: 25px auto;
    }

    &.info {
        font: 3rem/10px 'Trebuchet MS';
        margin-left: 30%;

        @include MQ($S) {
            font: 2rem 'Trebuchet MS';
            margin: 0 auto;
            text-align: center;
        }
    }
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 150px;
    width: 100%;
}

.text {
    color: $white;
    font: 1rem/28px 'Trebuchet MS';
    letter-spacing: .5px;
    margin-bottom: 120px;
    width: 40%;

    @include MQ($S) {
        width: 80%;

        &:last-child {
            margin-bottom: 95px;
        }
    }

    &.box {
        margin-bottom: 0;
        margin-top: 5px;
        width: 100%;

        @include MQ($S) {
            text-align: center;
        }
    }
}

.box {
    display: flex;
    margin-bottom: 50px;
    margin-top: 10px;
    padding: 0px 20px;

    @include MQ($S) {
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
}
