body {
    background: $background;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    align-items: center;
    display: flex;
    font: 1.4rem 'Trebuchet MS';
    margin-top: 30px;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    ul {
        display: flex;
        padding-right: 25px;
    }

    li {
        align-items: flex-end;
        color: $white;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        letter-spacing: .7px;
        list-style: none;
        padding: 0px 22px;
        position: relative;

        &:last-child {
            color: $green;
        }

        &:after {
            background: $green;
            content: '';
            position: absolute;
            margin-top: 7px;
            height: 3px;
            transition: all .4s ease;
            width: 0;
        }

        &:hover:after {
            transition: all .4s ease;
            width: 20%; 
        }
    }

    li a {
        text-decoration: none;
    }
}

.logo  {
    border-radius: 3px;
    width: 80px;
    padding: 10px 0px 10px 30px;
    transition: background .3s ease;

    &:hover {
        background: $green;
        transition: background .3s ease;
    }
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.main {
        height: 100vh;
    }

    &.convidados {
        width: 100%;
        flex-direction: row;
    }
}

.subtitle {
    color: $white;
    font: 2.5rem/20px 'Trebuchet MS';

    &:first-child {
        margin-right: 270px;
    }

    &:last-child {
        margin-left: 350px;
    }
}

.title {
    color: $green;
    font: 6rem/10px 'Trebuchet MS';
    margin: 35px auto;

    &.info {
        font: 3rem/10px 'Trebuchet MS';
        margin-left: 30%;
    }
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 150px;
    width: 100%;
}

.text {
    color: $white;
    font: 1rem/28px 'Trebuchet MS';
    letter-spacing: .5px;
    margin-bottom: 120px;
    width: 40%;

    &.box {
        margin-bottom: 0;
        margin-top: 5px;
        width: 100%;
    }
}

.box {
    display: flex;
    margin-bottom: 50px;
    margin-top: 10px;
    padding: 0px 20px;
}
