header {
    align-items: center;
    display: flex;
    font: 3rem 'Halfomania';
    margin-top: 20px;

    @include MQ($M) {
        font-size: 2rem;
    }

    @include MQ($S) {
        font-size: 2.8rem;
    }
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    ul {
        display: flex;
        padding-right: 25px;

        @include MQ($M) {
            align-items: center;
            display: flex;
            padding-right: 25px;
        }

        @include MQ($S) {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            padding-right: 40px;
            padding-top: 290px;
        }
    }

    li {
        align-items: flex-end;
        color: $white;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        letter-spacing: .7px;
        list-style: none;
        padding: 0px 22px;
        position: relative;
        -webkit-tap-highlight-color: transparent;
        
        @include MQ($M) {
            padding: 0px 20px;
        }

        @include MQ($S) {
            padding: 10px 0px;
        }

        &:last-child {
            color: $green;
        }

        &:after {
            background: $green;
            content: '';
            position: absolute;
            margin-top: 7px;
            height: 3px;
            transition: all .4s ease;
            width: 0;
        }

        &:hover:after {
            transition: all .4s ease;
            width: 20%; 
        }
    }

    li a {
        color: $white;
        text-decoration: none;
    }
}

.green {
    color: $green;
}

.logo  {
    border-radius: 3px;
    width: 80px;
    padding: 10px 0px 10px 30px;
    transition: background .3s ease;

    @include MQ($S) {
        display: none;
    }

    &:hover {
        background: $green;
        transition: background .3s ease;

        @include MQ($M) {
            background: none;
        }
    }
}

.menu-logo {
    position: relative;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
    z-index: 10;

    @include MQ($S){
        border-top: 1px solid $white;
        height: 1px;
        position: absolute;
        width: 25px;
        margin-left: 15px;
        transition: all .3s ease;

        &:before {
            border-top: 1px solid $white;
            content: '';
            height: 1px;
            position: absolute;
            width: 25px;
            top: -10px;
            transition: all .3s ease;
        }

        &:after {
            border-top: 1px solid $white;
            content: '';
            height: 1px;
            position: absolute;
            width: 25px;
            top: 9px;
            transition: all .3s ease;
        }
    }

    &.is-active {
        border-top: 1px solid $white;
        height: 1px;
        position: absolute;
        width: 25px;
        margin-left: 15px;
        transition: all .3s ease;
        transform: rotate(45deg);

        &:before {
            border-top: 1px solid $white;
            content: '';
            height: 1px;
            margin-top: 9px;
            position: absolute;
            transform: rotate(90deg);
            width: 25px;
            top: -10px;
            transition: all .3s ease;
        }

        &:after {
            opacity: 0;
            transition: all .5s ease;
        }
    }
}

.menu-mobile {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all .3s ease;

    @include MQ($M) {
        position: relative;
    }

    @include MQ($S) {
        background: $menu-background;
        margin-left: -270px;
        opacity: 0;
        position: absolute;
        width: 100%;
    }

    &.is-active {
        margin-left: 0;
        opacity: 1;
    }
}