header {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  font: 1.4rem 'Trebuchet MS';
  margin-top: 30px; }

nav {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%; }
  nav ul {
    display: -webkit-box;
    display: flex;
    padding-right: 25px; }
    @media screen and (max-width: 768px) {
      nav ul {
        -webkit-box-align: center;
                align-items: center;
        display: -webkit-box;
        display: flex;
        padding-right: 25px; } }
    @media screen and (max-width: 414px) {
      nav ul {
        -webkit-box-align: baseline;
                align-items: baseline;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        padding-top: 290px; } }
  nav li {
    -webkit-box-align: end;
            align-items: flex-end;
    color: #f8f8f8;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start;
    letter-spacing: .7px;
    list-style: none;
    padding: 0px 22px;
    position: relative;
    -webkit-tap-highlight-color: transparent; }
    @media screen and (max-width: 768px) {
      nav li {
        padding: 0px 20px; } }
    @media screen and (max-width: 414px) {
      nav li {
        padding: 10px 0px; } }
    nav li:last-child {
      color: #b8d808; }
    nav li:after {
      background: #b8d808;
      content: '';
      position: absolute;
      margin-top: 7px;
      height: 3px;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      width: 0; }
    nav li:hover:after {
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      width: 20%; }
  nav li a {
    color: #f8f8f8;
    text-decoration: none; }

.green {
  color: #b8d808; }

.logo {
  border-radius: 3px;
  width: 80px;
  padding: 10px 0px 10px 30px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }
  .logo:hover {
    background: #b8d808;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }
    @media screen and (max-width: 768px) {
      .logo:hover {
        background: none; } }

.menu-logo {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-tap-highlight-color: transparent;
  z-index: 50; }
  .menu-logo.is-active {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }

.menu-mobile {
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  @media screen and (max-width: 768px) {
    .menu-mobile {
      position: relative; } }
  @media screen and (max-width: 414px) {
    .menu-mobile {
      background: #0e0e0ee8;
      margin-left: -270px;
      opacity: 0;
      position: absolute;
      width: 100%; } }
  .menu-mobile.is-active {
    margin-left: 0;
    opacity: 1; }

* {
  scroll-behavior: smooth; }

body {
  background: #131313;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0; }

strong {
  color: #b8d808; }

.container {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center; }
  .container.main {
    height: 100vh; }
    @media screen and (max-width: 414px) {
      .container.main {
        height: 95vh; } }
  .container.info {
    padding-top: 30px; }
  .container.convidados {
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    width: 100%; }
    .container.convidados:last-child {
      padding-bottom: 120px; }

@media screen and (max-width: 414px) {
  .main-title {
    margin-top: -150px; } }

.counter {
  margin-top: 40px; }

.clock {
  color: #b8d808;
  font: 2.2rem 'Trebuchet MS'; }

.subtitle {
  color: #f8f8f8;
  font: 2.5rem/20px 'Trebuchet MS';
  margin: 40px auto; }
  .subtitle:first-child {
    margin-right: 270px; }
    @media screen and (max-width: 414px) {
      .subtitle:first-child {
        margin-right: 130px; } }
  .subtitle:last-child {
    margin-left: 350px; }
    @media screen and (max-width: 414px) {
      .subtitle:last-child {
        margin-left: 220px; } }

.title {
  color: #b8d808;
  font: 6rem/10px 'Trebuchet MS';
  margin: 35px auto; }
  @media screen and (max-width: 414px) {
    .title {
      font: 4rem/10px 'Trebuchet MS';
      margin: 25px auto; } }
  .title.info {
    font: 3rem/10px 'Trebuchet MS';
    margin-left: 30%; }
    @media screen and (max-width: 414px) {
      .title.info {
        font: 2rem 'Trebuchet MS';
        margin: 0 auto;
        text-align: center; } }

.content {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 150px;
  width: 100%; }

.text {
  color: #f8f8f8;
  font: 1rem/28px 'Trebuchet MS';
  letter-spacing: .5px;
  margin-bottom: 20px;
  width: 40%; }
  @media screen and (max-width: 414px) {
    .text {
      width: 80%; }
      .text:last-child {
        margin-bottom: 95px; } }
  .text.box {
    margin-bottom: 0;
    margin-top: 5px;
    width: 100%; }
    @media screen and (max-width: 414px) {
      .text.box {
        text-align: center; } }

.box {
  display: -webkit-box;
  display: flex;
  margin-bottom: 50px;
  margin-top: 10px;
  padding: 0px 20px; }
  @media screen and (max-width: 414px) {
    .box {
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      padding: 0; } }

.convidado {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-tap-highlight-color: transparent; }

.short-bio {
  background: #0e0e0ee8;
  bottom: -382px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
  position: absolute;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 382px; }
  .short-bio.is-active {
    bottom: 0; }

.short-bio-title {
  color: #b8d808;
  font: 1.6rem 'Trebuchet MS';
  margin-bottom: 10px;
  margin-left: 25px; }

.short-bio-subtitle {
  color: #b8d808;
  font: 1rem 'Trebuchet MS';
  margin-left: 25px;
  margin-top: 0; }

.short-bio-text {
  color: #f8f8f8;
  font: 1rem 'Trebuchet MS';
  margin-left: 25px;
  width: 80%; }

.social-media {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

figure {
  margin: 20px 10px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }
  figure:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
